/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
seguridadunica-unica-app-firebase-adminsdk-ruxcz-5f047a9e22.json
seguridad-notificaciones-firebase-adminsdk-skivp-0097aa32b4.json
